{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Admin Panel | Reza Derakhshan</title>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/admin/index.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com" *-+rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body> 
    <div class="admin-panel-card">
      <div class="admin-panel-title">Admin Dashboard</div>
      <ul class="admin-panel-list">
        <li><a href="#"><i class="bi bi-people"></i> Manage Users</a></li>
        <li><a href="{% url "dashboard:skills" %}"><i class="bi bi-lightbulb"></i> Manage Skills</a></li>
        <li><a href="{% url "dashboard:experiences" %}"><i class="bi bi-briefcase"></i> Manage Experience</a></li>
        <li><a href="{% url "dashboard:educations" %}"><i class="bi bi-mortarboard"></i> Manage Education</a></li>
        <li><a href="{% url "dashboard:testimonials" %}"><i class="bi bi-chat-left-quote"></i> Manage Testimonial</a></li>
        <li><a href="{% url "dashboard:categories" %}"><i class="bi bi-tags"></i> Manage Category</a></li>
        <li><a href="{% url "dashboard:projects" %}"><i class="bi bi-kanban"></i> Manage Project</a></li>
        <li><a href="{% url "dashboard:logout" %}"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
      </ul>
    </div>
  </body>
</html>
